extends base

include _reviewCard

mixin overviewBox(lable, value, icon)
	.overview-box__detail
		svg.overview-box__icon
			use(xlink:href=`/img/icons.svg#icon-${icon}`)
		span.overview-box__label= lable
		span.overview-box__text= value 

block content 
	section.section-header
		.header__hero
			.header__hero-overlay &nbsp;
			img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt='Tour 5')

		.heading-box
			h1.heading-primary
				span= `${tour.name} tour` 
			.heading-box__group
				.heading-box__detail
					svg.heading-box__icon
						use(xlink:href='/img/icons.svg#icon-clock')
					span.heading-box__text= `${tour.duration} days`
				.heading-box__detail
					svg.heading-box__icon
						use(xlink:href='/img/icons.svg#icon-map-pin')
					span.heading-box__text= `${tour.startLocation.description}`
				.heading-box__detail.like-btn(data-tour=`${tour.id}`, data-liked='false')
					span.heading-box__text favorite
					img.like-icon(src='/img/icons/heart-empty.png' alt='like-icon')

	section.section-description
		.overview-box
			div
				.overview-box__group
					h2.heading-secondary.ma-bt-lg Quick facts
					+overviewBox('Next Date', `${tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})}`, 'calendar')
					+overviewBox('Difficulty', tour.difficulty , 'trending-up')
					+overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
					+overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')
					+overviewBox('likes', `${tour.likesQuantity}`, 'heart')



				.overview-box__group
					h2.heading-secondary.ma-bt-lg Your tour guides
					each guide in tour.guides
						.overview-box__detail
							img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.role}`)
							span.overview-box__label= guide.role
							span.overview-box__text= guide.name 
		- const paragraph = tour.description.split('\n')
		.description-box
			h2.heading-secondary.ma-bt-lg About the park camper tour
			each p in paragraph
				p.description__text= p 

	section.section-pictures
		each image, i in tour.images
			.picture-box
				img.picture-box__img(src=`/img/tours/${image}`, alt=`The Park Camper Tour ${i}`, class=`picture-box__img--${i}`)

	section.section-map
		#map(data-locations=`${JSON.stringify(tour.locations)}`)
	section.section-reviews
		.reviews
			each review in tour.review
				+reviewCard(review)
	//- if user booked this tour don't show up the booking section
	- const booking = bookings.filter(booking => booking.user._id == user.id && booking.tour._id == tour.id)
	if(!booking[0])
		section.section-cta
			.cta
				.cta__img.cta__img--logo
					img(src='/img/logo-white.png', alt='Natours logo')
				img.cta__img.cta__img--1(src=`/img/tours/${tour.images[0]}`, alt='')
				img.cta__img.cta__img--2(src=`/img/tours/${tour.images[1]}`, alt='')
				.cta__content
					h2.heading-secondary What are you waiting for?
					p.cta__text= `${tour.duration} days. ${tour.locations.length} adventure. Infinite memories. Make it yours today!`
					button.btn.btn--green.span-all-rows.booking-btn(data-tour-id=`${tour.id}`, data-user-id=`${user.id}`, data-price=`${tour.price}`) Book tour now!